<?xml version="1.0" encoding="UTF-8"?>
<launch>

<node   name="lcdscreen1_node"
        pkg="amr-lcd-control"
        type="publisher.py"
        args=""/>

<!-- <node   name="l"
        pkg="amr-lcd-control"
        type="publisher2.py"
        args=""
	output="screen"/> -->

<!-- <node name="motor_control" pkg="rosserial_arduino" type="serial_node.py" required="true" args="/dev/ttyACM0" /> -->

<node   name="subscriber"
	pkg="amr-lcd-control"
	type="lcd.py"
	args=""
	/>

</launch>
